---
---

<section class="date block-section main-row-content">
	<h2>13 de Julio<br>Estadio Santiago Bernabéu</h2>
	<a href="#" class="button">Comprar Entradas</a>
	<div>Próximamente</div>
</section>

<style>
	h2{
		font-size: 4em;
		font-weight: bold;
		line-height: 1.125em;
		text-transform: uppercase;
	}

	a{
		font-size: 1.4em;
		font-weight: bold;
		line-height: 1em;
		margin: 1.2em 0;
		padding: 1em 6em;
		text-transform: uppercase;
	}

	div{
		color: var(--color-accent);
		font-size: 1.4em;
	}
</style>