---
import { ViewTransitions } from "astro:transitions"

import NoiseBackground from "@/components/NoiseBackground.astro"
import SEO from "@/components/SEO.astro"
import Header from "@/sections/Header.astro"
import Footer from "@/sections/Footer.astro"
import Global from "@/styles/Global.astro"

interface Props {
	description: string
	title: string
	preloadImgLCP?: string
}

const { title, description, preloadImgLCP } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<SEO title={ title } description={ description } preloadImgLCP={ preloadImgLCP! } />
		<ViewTransitions />
	</head>

	<body data-scroll-container>
		<NoiseBackground/>
		<!-- <LightsBackground/> -->
		<main data-scroll-section>
			<Header/>
			<slot/>
			<!-- <Footer/> -->
		</main>
		<!-- <ButtonUp/> -->
	</body>
</html>

<Global/>

<script>
	import LocomotiveScroll from 'locomotive-scroll';
	document.addEventListener("astro:page-load", () => {
		const container = document.querySelector("[data-scroll-container]");
		if (container instanceof HTMLElement) {
			const scroller = new LocomotiveScroll({
				el: container,
				smooth: true
			});
		}
	});
</script>